* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f9f9f9;
    color: #272727;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 24px;
}

img {
    width: 100px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    margin-bottom: 8px;
    font-weight: bold;
}

form {
    background-color: #fff;
    padding: 16px;
    border-radius: 24px;
    margin-bottom: 120px;
}

fieldset {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    font-size: 16px;
    padding: 0 4px;
}

input,
textarea {
    width: 100%;
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    min-width: 100%;
    max-width: max-content;
    min-height: 120px;
}

input[type="radio"],
[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 40px;
    padding: 0 4px;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

input[type="submit"],
input[type="reset"] {
    width: max-content;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
}

input[type="reset"] {
    border-color: red;
}

input[type="submit"]:hover {
    background-color: #003d00;
    border-color: #003d00;
    color: #f9f9f9;
}

input[type="reset"]:hover {
    background-color: #3d0000;
    border-color: #3d0000;
    color: #f9f9f9;
}