/* CSS RESET */
body,
img,
h1,
h2,
h3,
h4,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

/* END CSS RESET */

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #bf0101;
    --secondary-color: #b81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

body {
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

.container {
    padding: 88px 24px 0;
}

.section-title h2 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin-bottom: 16px;
}

.section-title hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
}

@media screen and (min-width: 762px) {
    .section-title h2 {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 104px 120px 0;
    }
}
