/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* END CSS RESET */

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #bf0101;
    --secondary-color: #b81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

body {
    font-family: "Montserrat";
}

.container {
    padding: 88px 24px 0 24px;
}

h1 {
    font-weight: var(--title-weight);
    color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 104px 120px 0 120px;
    }
}
