header {
    background-color: var(--background-tertiary-color);
    padding: 36px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav {
    display: none;
}
