.container.nav {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 36px 24px;
}

.logo {
    display: inline-block;
    width: auto;
    height: 64px;
}

.logo-desktop {
    display: none;
}

nav {
    display: none;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-link {
    color: var(--text-secondary-color);
    font-size: 24px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .nav-menu label {
        display: none;
    }

    nav {
        display: block;
    }

    .list-links {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .container.nav {
        padding: 36px 120px;
    }

    .logo-desktop {
        display: block;
    }

    .logo-mobile {
        display: none;
    }

    .nav-link:hover {
        color: var(--primary-color);
    }
}
