header {
    background-color: var(--background-tertiary-color);
    padding: 36px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav {
    display: none;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-link {
    color: var(--text-secondary-color);
    text-decoration: none;
}
