.hero-bg {
    width: 100%;
    height: 400px;
    background: url(../img/banner-home-mobile.jpg) no-repeat;
    background-size: cover;
}

.hero p {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-bg {
        height: 620px;
        background: url(../img/banner-home-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .hero p {
        font-size: 32px;
        line-height: 150%;
    }
}

@media screen and (min-width: 1024px) {
    .hero-bg {
        background: url(../img/banner-home-desktop.jpg) no-repeat;
        background-size: cover;
    }
}
