* {
    margin: 0;
    padding: 0;
}

:root {
    /* Themes Light */
    --bg-light: #FFFFFF;
    --font-light: #232323;

    /* Themes Dark */
    --bg-dark: #0E1014;
    --font-dark: #f5f5f5;

    /* Main Color */
    --primary: #9747FF;
    --primary-hover: #8233E8;
}

body {
    background-color: var(--bg-dark);
    color: var(--font-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

header.container {
    padding: 48px 0;
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: auto;
}

img {
    width: fit-content;
}

.container {
    width: 90vw;
    max-width: 792px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

main {
    text-align: center;
}

h1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 24px;
}

h1 span {
    color: var(--primary);
}


section img {
    margin: 0 auto;
    width: 100%;
}


a {
    display: block;
    margin: 0 auto;
    color: var(--font-dark);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    max-width: fit-content;
    background-color: var(--primary);
    padding: 24px 48px;
    border-radius: 36px;
    transition: all ease-in-out 300ms;
}

a:hover {
    background-color: var(--primary-hover);
}

@media(max-width: 768px) {
    .container {
        width: 90vw;
        max-width: 648px;
    }
}

@media(max-width: 375px) {
    .container {
        width: 90vw;
        max-width: 341px;
    }

    h1 {
        font-size: 40px;
    }

    a {
        font-size: 20px;
        padding: 24px;
    }
}